language: python
python:
  - "3.7"
git:
  depth: 1
install:
  - pip install codecov
script:
  - python -m unittest discover -p "*_test.py"
  - coverage run fraction_test.py
after_success:
  - codecov
